{% extends "layout.html" %}
{% block body %}
<!-- Banner -->
<section id="banner">
    <h2>{{ meta.title }}</h2>
    <p>{{ meta.description }}</p>
</section>

<!-- Main -->
<section id="main" class="container">

    <section class="box special">
        <header class="major">
            {{ page | safe}}
        </header>
        <span class="image featured"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></span>
    </section>

    <section class="box special features">
        <div class="features-row">
            <section>
                <span class="icon major fa-file-text-o accent3"></span>
                <h3>Simplicity of Markdown</h3>
                <p>Focus on the content not managing your site.</p>
            </section>
            <section>
                <span class="icon major fa-database accent3"></span>
                <h3>No Database</h3>
                <p>Your entire site is saved in files, no database to maintain.</p>
            </section>
        </div>
        <div class="features-row">
            <section>
                <span class="icon major fa-clock-o accent5"></span>
                <h3>Fast Setup</h3>
                <p>Get your site setup in less than 5 minutes.</p>
            </section>
            <section>
                <span class="icon major fa-github accent2"></span>
                <h3>MDWeb on Github</h3>
                <p>
                    <a href="https://github.com/crempp/mdweb">Fork us on Github.</a> Setup takes less than 5 minutes.
                </p>
            </section>
        </div>
    </section>

    <div class="row">
        <div class="6u 12u(2)">

            <section class="box special">
                <span class="image featured"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" /></span>
                <h3>Sed lorem adipiscing</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </section>

        </div>
        <div class="6u 12u(2)">

            <section class="box special">
                <span class="image featured"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" /></span>
                <h3>Accumsan integer</h3>
                <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Learn More</a></li>
                </ul>
            </section>

        </div>
    </div>
</section>

<!-- CTA -->
<section id="cta">
</section>

{% endblock %}