# We ignore all sites except MySite.py so that we can create test sites without
# accidentally commiting test sites.

# Ignore everything
*

# But not these files...
!.gitignore
!plugins
!__init__.py
!MySite.py
